@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body{
    font-family: 'JetBrains Mono';
    background-color: #F7F7F7;
}

.tracker__card{
    padding: 2rem;
    width: 500px;
    border-radius: 15px 50px; 
    box-shadow: 5px 5px 20px #1c1c1c, 10px 10px 20px #1c1c1c, 15px 15px 20px #1c1c1c;
}